@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&family=Montserrat&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monserrat, sans-serif;
}

body {
    background: linear-gradient(to right, #2193b0, #6dd5ed);
}

section {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.Vendedores {
    text-align: center;
    padding: 30px;
}

.cardcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.item {
    max-width: 300px;
    height: 40%;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    border: 1px rgb(52, 5, 52) solid;
    border-radius: 5px;
}

.item img {
    width: 280px;
    height: 50vh;
}

.cardcontainer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.item2 {
    max-width: 300px;
    height: 40%;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    border: 5px white solid;
    border-radius: 5px;
    color: white;
    background: #074d5f;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.item2 i {
    font-size: 60px;
}

.item2 ul {
    font-size: 20px;
    list-style: none;
    align-items: flex-start;
}

.item2 ul li {
    align-items: flex-start;
}

.btn {
    color: black;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    width: 120px;
    margin: 4px 2px;
    align-items: center;
    padding: 8px 20px 8px 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 25px;
    border: 2px black solid;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    text-decoration-line: none;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
    border: 2px white solid;
    font-weight: 600;
 }